.header {
  text-align: center;
  padding: 150px 0px;
  color: white;
}
.header__name {
  font-size: 70px;
  padding: 60px 0px;
}
.header__intro {
  font-size: 14px;
}

.index__div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 50px;
}
.index__a {
  color: rgb(218, 191, 134);
  text-decoration: none;
}
